WiproJavaFSD/src/TM13XML/MobileShowroom/mobiles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="MobileSales">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Mobile" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Mobile">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ModelID" type="xs:integer"/>
                <xs:element name="Brand" type="xs:string"/>
                <xs:element name="Price" type="xs:integer"/>
                <xs:element name="Color" type="xs:string"/>
                <xs:element name="SIMSize">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Normal"/>
                            <xs:enumeration value="Micro"/>
                            <xs:enumeration value="Nano"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Memory" type="xs:string"/>
                <xs:element name="Camera" type="xs:string"/>
                <xs:element name="TouchScreen" type="xs:string"/>
                <xs:element name="NoSold" type="xs:integer"/>
                <xs:element name="storeName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="store1"/>
                            <xs:enumeration value="store2"/>
                            <xs:enumeration value="store3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>